<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body> 
    <h1>Vintage Muscle</h1>
    <p>America loves speed. The 1960s and 1970s might have produced the wildest
        and rarest muscle cars packing giant torque-rich V-8s, but the 1980s
        brought its share of powerful machines to the street, too—cars that were
        quick and met the more stringent emissions controls. And behind the
        horsepower there are some surprising stories.</p>

    <h3>Dodge Classic: 1970 Challenger</h3>
    <img src="images/challenger.png" alt="1970 Dodge Challenger">

    <h3>Chevy Classic: 1970 Chevelle's</h3>
    <img src="images/chevelle_ss.png" alt="1970 Cheverollete Chevelle">
    <img src="images/chevelle_ss2.png" alt="1970 Cheverollete Chevelle">

</body>
</html>