<html>
<head>
    <script>

    </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body> 
    <h1>Big cats of Africa</h1>
    <p>The lion (Panthera leo) is a species in the family Felidae, and a member of the genus Panthera. It exhibits a pronounced sexual dimorphism; males are larger than females with a typical weight range of 150 to 250 kg (331 to 551 lb) for the former and 120 to 182 kg (265 to 401 lb) for the latter. In addition, male lions have a prominent mane, which is the most recognisable feature of the species. Both sexes have hairy tufts at the end of their tails.

            Present in Africa and India, the lion typically inhabits grasslands and savannahs, but is absent in dense forests. It is usually more diurnal than other big cats, but when persecuted adapts to being active at night and at twilight. A lion pride consists of a few adult males, related females and cubs. Prides vary in size and composition from three to 20 adult lions, depending on habitat and prey availability. Females cooperate when hunting and prey mostly on large ungulates, including antelope, deer, buffalo, zebra and even giraffe.</p>

    <h3>Funny Lion</h3>
    <img src="/images/bigCat1.png" alt="img of lion">

    <h3>Mean Lion</h3>
    <img src="/images/bigCat2.png" alt="img of lion">
    <h3>Majestic Lion</h3>
    <img src="/images/bigCat3.png" alt="img of lion">

</body>
</html>