<html>
<head>
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> -->
</head>
<body> 
    <h1>Add a New Car</h1>
    <form action='/register' method='post'>
        <h3>Register new car</h3>
        <table>
            <tr>
                <td><label>Car model:</label></td>
                <td><input type='text' name='model'></td>
            </tr>
            <tr>
                <td><label>Car make:</label></td>
                <td><input type='text' name='make'></td>
            </tr>
            <tr>
                <td><label>Car year:</label></td>
                <td><input type='text' name='year'></td>
            </tr>
            <tr>
                <td colspan="2"><input type='submit' id='submit' value='Register' class='buttons'></td>
            </tr>
        </table>
    </form>
</body>
</html>